DATABASE_URL="file:./prisma/dev.db"

# NextAuth - gere com: openssl rand -base64 32
AUTH_SECRET="mGRqx5yjP7cebFsjN0qPq/QqWo8fna1faS7lj1cuT3Y="

# GitHub OAuth - https://github.com/settings/developers
# Callback URL: http://localhost:3000/api/auth/callback/github
AUTH_GITHUB_ID="Ov23liNZ9expembWNDsN"
AUTH_GITHUB_SECRET="033368bc927ad7352778a0eb0a58a0a9371e554b"

# Discord OAuth - https://discord.com/developers/applications
# Redirect URL: http://localhost:3000/api/auth/callback/discord
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""
